<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	#parse("/control/header.vm")
	<body class="output">
		#parse("/control/navbar.vm")
		<div class="row-fluid">
			#parse("/control/left.vm")
			$screen_content
		</div>
	</body>
</html>