#set($layout = "/layout/index_layout.vm")
<div class="header" style="background-image: url(img/index/back.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="logotxt">
					<h1><a href="#">我的读书会</a></h1>
					<h2>读书.聚会.分享</h2>
				</div>
			</div>
		</div>
	</div>
</div>