<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	  	<typeAlias alias="UserEntity" type="com.dushuhui.entity.UserEntity" />
	  	<typeAlias alias="TopicEntity" type="com.dushuhui.entity.TopicEntity" />
	  	<typeAlias alias="GroupEntity" type="com.dushuhui.entity.GroupEntity" />
	</typeAliases>

	<mappers>
	</mappers>
</configuration>    